<div class="spinner-gform-row mb-3-backdrop loader-fadeout">
    <div class="spinner-gform-row mb-3"></div>
</div>

<div class="form-row mb-3 align-items-center py-3">
    <div class="col-auto" hidden>
        <button class="btn btn-link" title="Voltar">
            <i class="mdi mdi-arform-row mb-3-left"></i>
        </button>
    </div>
    <div class="col">
        <h4 class="m-0">Visão geral</h4>
    </div>
</div>

<div class="form-row mb-3">
    <div class="col-12">
        <p class="m-0">Neste projeto, você encontrará demonstrações de estruturas básicas que podem servir de base para o seu projeto.</p>
    </div>
</div>

<div class="form-row mb-3">
    <div class="col-12 col-sm-6 col-lg-4 pb-2">
        <div class="card card-body h-100">
            <i class="h2 mdi mdi-pinwheel-outline tx__aqua--l10 mt-5"></i>
            <p class="h6 mb-0">
                Responsáveis
            </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 pb-2">
        <div class="card card-body h-100">
            <i class="h2 mdi mdi-bullseye-arrow mb-3 tx__purple--l10 mt-5"></i>
            <p class="h6 mb-0">
                Imóveis
            </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 pb-2">
        <div class="card card-body h-100">
            <i class="h2 mdi mdi-account-outline tx__orange--l10 mt-5"></i>
            <p class="h6 mb-0">
                Contribuintes
            </p>
        </div>
    </div>
</div>
